:root {
  --el-color-primary: #e20755;
  --el-color-primary-light-3: #e20755;
  --el-color-primary-light-5: #b13436;
  --el-color-primary-light-7: #ea84b2;
  --el-color-primary-light-9: #ffecfa;
  --el-color-primary-dark-2: #c20b3c;
}
